
.footer__contenedor {
  display: flex;
  justify-content: space-between;
  background-color: $raising-black;
  color: #C7C8CC;
  padding: 2%;
  .footer__contenedor__links {
    li {
      margin: 10px;
    }
  }
  .footer__contenedor__links, .footer__contendor__brands   {
    display: flex;
    list-style: none;
    align-items: center;
  }
}
