
.grafico {
  animation-name: grande_pequeno;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  max-width: 100%;
}

.caracteristicas {
  .caracteristicas__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    margin: 0 30rem;
    &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  }
  h3 {
    text-align: center;
    margin: 30px;
    color: $raising-black;
  }
}

